node_modules/
package-lock.json
.env
node_modules
.env
hardhat.config.js
# Hardhat files
/cache
/artifacts
/contracts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
